<div class="main-div">
    <h1>Welcome to {{environment.shopName}}!</h1>
    <div>
      <span class="main-desc">
        We repair mainly common electronic devices such as PCs, laptops,
        tablets or phones, but feel free to inquire about other stuff as well.
        Due to our recent opening and the presently small number of on-location staff,
        we require you to book an appointment here before coming to the store.
        Otherwise, we accept mail-ins after a ticket has been opened by the
        the customer and accepted by one of our repair technicians.
        You can do that <a [routerLink]="'/booking'">here</a> after a signup/login,
        allowing tracking of the status of the repair.
      </span>
    </div>
  </div>