mat-form-field {
    min-width: 250px;
    width: 70%;
}

form {
    width: 70%;
}

// .nameSubForm {
//     justify-content: center;
//     align-items: center;
//     display: inline-flex;
//     grid-auto-flow: row;
//     width: 70%;
// }

// .nameSubForm mat-form-field {
//     min-width: none;
//     width: 100%;
// }