mat-card {
    width: 80%;
    height: fit-content;
    align-self: center;
    margin-top: 40px;

}

mat-card-header {
    display: block;
}

mat-card-content {
    display: flex;
    height: fit-content;
    justify-content: center;
    flex-direction: column;
}

mat-card-content span {
    width: 100%;
}

.div-flex {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: center;
}

mat-icon {
    vertical-align: middle;
    padding: 10px;
}

